/*takes ALL elements and essentially creates a default margin and padding value of 0 for all of them. */
* {
	margin: 0px;
	padding: 0px;
}
body {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #171717;
	background-image: url("https://thomaswallace.net/projects/pre-assessment/bg-tile.jpg");
	background-repeat: repeat-x; /*figured this part out with gpt, had no idea what you were talking about */
	font-size: 16px;
	line-height: 1.5em;
}
#container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFF;
	margin-top: 20px;
	border: 1px solid #CCC;
}
#header {
	height: 140px;

  background-image: url("../img/assessment-4Edit.jpg");

}

#header h1{
	margin: 0;
}

#header a{
  display: block;
  
  height: 140px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
#nav {
	background-color: #000;
}
#nav ul {
	list-style-type: none;
	margin-left: 10px;
}
#nav ul li {
	display: inline;
	height: 35px;
	line-height: 35px;
}
#nav ul li a {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
}
#nav ul li a:link, #nav ul li a:visited {
	text-decoration: none;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	color: #FFF;
}
#nav ul li a:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#content {
	margin: 20px;
}
#content p {
	margin-top: 5px;
	margin-bottom: 15px;
}
/*Now I chose that water droplet one which is just greyscale colors, so like I randomly clicked throughout the picture on a color picker...?
	Hope that works for ya!*/

#content a:hover {
	color:green;
}
#content h2 {
	color: #959595;
}
#content h3 {
	color: #181818;
}
#content h4 {
	color: #848484;
}
/*added this cuz i wanted to.*/
#content h2,h3,h4 {
	font-weight: bold;
}
/* floating the image makes it like disobey any sort of rules i have...? I'm just gonna leave it because I have 0 clue how or even if I should fix it lol */
#content img {
	float: right;
	border: 5px solid black;
	margin: 5px
	
}
#wordTitle {
	font-weight: bold;
	font-size:30px;
	color: #30476b;
	padding: 5px 5px 5px 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

#wordDefinition {
	margin-top: 5px;
	margin-bottom: 15px;

}
#footer {
	background-color: #000;
	color: #FFF;
	height: 25px;
}
#footer h6 {
	font-size: 12px;
	line-height: 25px;
	margin-right: 20px;
	margin-left: 20px;
}
/* This is me just copying the list stuff u have for the nav for the bottom? I think I'm over complicating things.... */
#footer ul 
{
	list-style-type: none;
	margin-left: 10px;
}

#footer ul li {
	display: inline;
	
}

#footerImg {
	background-image: url("../img/waterdroppingfooter.jpg");
	padding-bottom:100px;
}
/**/
.alert{
	background-color:#808080;
	color:#FFF;
}

